<h5 class="mt-5 ml-4">
  <i class="fas fa-user mr-3 center"></i>{{name}}
</h5>
<h5 class="mt-5 ml-4">
  <i class="fas fa-birthday-cake mr-3 center"></i>{{birth}}
</h5>
<h5 class="mt-5 ml-4">
  <i class="fas fa-envelope mr-3 center"></i>{{email}}
</h5>
<h5 class="mt-5 ml-4">
  <i class="fas fa-map-marker mr-3 center"></i>{{address}}
</h5>
<h5 class="mt-5 ml-4">
  <i class="fas fa-phone-alt mr-3 center"></i>{{phone}}
</h5>
<h5 class="mt-5 ml-4">
  <i class="fas fa-image mr-3 center"></i><img src="/uploads/{{idFrontPath}}" alt="id-front" width="350px" height="200px">
</h5>
<h5 class="mt-5 ml-4">
  <i class="fas fa-image mr-3 center"></i><img src="/uploads/{{idBackPath}}" alt="id-back" width="350px" height="200px">
</h5>